.button{

    margin-left: 80%;
    margin-bottom: 18px;

}


.container{

    width: 960px; 
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;     
}


.item{

    border: 1px solid gray;
    background-color: lightgray;
    box-sizing: border-box;
}






